<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container" >

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Event Name</th>
    </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td><a th:href="'/events/detail?eventId=' + ${event.id}" th:text="${event.name}"></a></td>
    </tr>
</table>

<!--<table>
    <th:block th:each="event : ${events}">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td th:text="${events.key}"></td>
                <td th:text="${events.value}"></td>
            </tr>
        </thead>
    </th:block>
</table>-->


</body>
</html>